@{
    ViewData["Title"] = "Home Page";
}
        <section id="intro1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="title">
                            <h1>Let us create...</h1>
                        </div>
                        <div class="description1">
                            <p>You may contribute <a href="#">a small amount</a> via PayPal if <a href="#">Nomad Force Template</a> is useful for you. This will absolutely help us to keep creating better CSS templates for you.</p>
                        </div>
                        <br>
                        <div class="description2">
                            <p>We provide you 100% free templates on TemplateMo website. Images are provided by FreePik and Unsplash websites.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="description">
                            <p>This Bootstrap 5 layout is free to use for your business. You are allowed to edit it in any way you like. However, please do not redistribute this template ZIP file for a template download purpose on any other website such as Free CSS collections.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="intro2" style="margin-top: 400px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="display: flex;">
                        <div class="col-md-6">
                            <img style="width: 350px; height: 424px;" src="~/assets/image/elena-rabkina-eVVzwsNhNf4-unsplash.jpg" alt="">
                        </div>
                        <div class="col-md-6" style="width: 350px; height: 424px; background-color: black;">
                            <h1>We’re - idealists and strategic thinkers.</h1>
                            <p>Over six years in the video business</p>
                            <a href="#">Read News & Events</a><br>
                            <a href="#">Work with Us</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="~/assets/image/morgan.jpg" class="d-block w-100" alt="...">
                                <h1 style="color: black;">Morgan.S</h1>
                                <p style="color: black;">Ceo&Investor</p>
                              </div>
                              <div class="carousel-item">
                                <img src="~/assets/image/naomi.jpg" class="d-block w-100" alt="...">
                                <h1 style="color: black;">Naomi W.</h1>
                                <p style="color: black;">Art Director</p>
                              </div>
                              <div class="carousel-item">
                                <img src="~/assets/image/robinson.jpg" class="d-block w-100" alt="...">
                                <h1 style="color: black;">Robinson H.</h1>
                                <p style="color: black;">Sales & Marketing</p>
                              </div>
                              <div class="carousel-item">
                                <img src="~/assets/image/susane.jpg" class="d-block w-100" alt="...">
                                <h1 style="color: black;">Jane M.</h1>
                                <p style="color: black;">Project Management</p>
                              </div>
                              <div class="carousel-item">
                                <img src="~/assets/image/jane.jpg" class="d-block w-100" alt="...">
                                <h1 style="color: black;">Susane R.</h1>
                                <p style="color: black;">Founding Partner</p>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="intro3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="margin-top: 600px;">
                        <img src="~/assets/image/effortless.jpeg" alt="">
                        <h1>Effortless</h1>
                        <p style="color: rgb(218, 53, 53);">Branding</p>
                    </div>
                    <div class="col-md-6">
                        <img style="margin-top:600px;" src="~/assets/image/maki.jpeg" alt="">
                        <h1>Maki</h1>
                        <p style="color: rgb(223, 168, 64);">Website</p>
                    </div>
                    <div class="col-md-6">
                        <img style="margin-top: -500px;"  src="~/assets/image/health.jpeg" alt="">
                        <h1>Health Technology</h1>
                        <p style="color: rgb(49, 194, 49);">Art Direction</p>
                    </div>
                    <div class="col-md-6">
                        <img style="margin-top:-15px;" src="~/assets/image/the.jpeg" alt="">
                        <h1>The gig Economy</h1>
                        <p style="color: rgb(92, 92, 222);">Graphic</p>
                    </div>
                </div>
            </div>
        </section>
 
